<noscript>
	<p class="tool-noscript">Für die interaktive Berechnung muss JavaScript in deinem Browser aktiviert sein. Die Erklärungen und Quellen auf dieser Seite bleiben trotzdem lesbar.</p>
</noscript>
